@use 'sass:color';

// labels
.label.label-secondary {
	color: $link-color;
	background-color: mix($link-color, $light-overlay, 10%);
}

// darkmode elements
html[data-theme-preference=dark] {
	input, textarea, button:not(.btn-primary), .btn:not(button),
	.notices, .card, .tab, .accordion-wrapper label,
	code:not([class*=language-]), pre {
		background-color: $dark-overlay !important;

		& code[class*=language-] {
			background-color: transparent !important;
		}
	}

	blockquote {
		border-left-color: $dark-overlay !important;
	}
}

.section {
	padding-block: clamp(2rem, 6vw, 4rem);
}
