@import 'components/language-switcher';
@import 'templates/cards';
@import 'templates/side-by-side';

// overlays
.image-overlay {
	.overlay-dark & {
		background-color: $overlay-dark;
	}

	.overlay-dark-gradient & {
		background: linear-gradient(to bottom, $overlay-dark-grad-from, $overlay-dark-grad-to);
	}
}

// sponsors
.sponsoren-list {
	p {
		display: grid;
		grid-template-columns: 1fr 1fr 1fr;
	}

	a {
		display: flex;
		justify-content: center;
		align-items: center;
	}

	img { padding: 1rem; }
}

nav.language-switcher {
	nav:not(.dropmenu) li {
		font-size: 16px;
	}

	ul {
		display: flex;
		gap: .5rem
	}

	li {
		margin-top: 0;

		&::marker {
			content: none;
		}
	}
}