// navigation general
#header nav.navbar,
.mobile-container .mobile-logo {
	.navbar-brand {
		gap: 1rem;

		.title { font-size: 1.5rem; }

		&:hover { text-decoration: none; }
	}
}

// mobile navigation
.mobile-container .mobile-logo {
	margin-top: .7rem;

	img { margin-top: 0; }
}

// mobile navigation menu button
body:not(.header-dark) .mobile-menu #toggle:not(.active) span,
#header.scrolled ~ .mobile-menu #toggle:not(.active) span {
	background: $text-color;
}

body.header-dark .mobile-menu #toggle span,
.mobile-menu #toggle.active span {
	background: $text-color-secondary;
}

// mobile nav
.mobile-container {
	.mobile-logo {
		.title {
			color: $text-color-secondary;
		}
	}

	.overlay-menu {
		a, .toggler {
			padding: 1rem;
			color: $text-color-secondary;
		}

		.toggler {
			font-size: 1.5rem;
			padding: 1rem;
		}
	}
}
