// navigation general
#header nav.navbar,
.mobile-container .mobile-logo {
	.navbar-brand {
		gap: 1rem;

		.title { font-size: 1.5rem; }

		&:hover { text-decoration: none; }
	}
}

// mobile navigation
.mobile-container .mobile-logo {
	margin-top: .7rem;

	img {margin-top: 0;}
}

// mobile navigation menu button
.mobile-menu #toggle span {
	background: $sec-text-color;
}

#header.scrolled ~ .mobile-menu #toggle:not(.active) span {
	background: $pri-text-color;
}

// mobile nav
.mobile-container {
	.mobile-logo {
		.title {
			color: $sec-text-color;
		}
	}

	.overlay-menu {
		a, .toggler {
			padding: 1rem;
			color: $sec-text-color;
		}
		.toggler{
			font-size: 1.5rem;
			padding: 1rem;
		}
	}
}
