// global overrides
@import 'variables';

// spectre overrides
.bg-gray { background-color: $bg-color !important;}

// grav overrides
section.modular-text {
	padding: 1rem;

	h2 {margin-top: 1rem;}
}

// body CSS classes
body {
	&:not(.header-dark).header-transparent #header:not(.scrolled) {
		a {
			color: #FFFFFFB3 !important;

			&.active {
				color: #FFFFFF !important;
			}
		}
	}
}
