// general
@use 'variables';
@use 'overrides';

// components
@use 'header-footer';
@use 'navigation';
@use 'hero';
@use 'form';
@use 'table';
@use 'components';

// other
@use 'sizes';

// css reset
* {
	box-sizing: border-box;
}

// smooth scroll (for anchor links)
html {
	scroll-behavior: smooth;
}

.f {
	display: flex;

	&.col { flex-direction: column; }

	&.row { flex-direction: row; }

	&.c { justify-content: center; }

	&.a { align-items: center; }
}
