// colors
$bg-color: #ffffff;
$pri-text-color: #3d3d3d;
$sec-text-color: #ffffff;
$pri-bg-color: #ffffff;
$sec-color: #4063cb;
$prim-color: #4063cb;

// hero image
$overlay-dark: #00000033;
$overlay-dark-grad-from: #0000004d;
$overlay-dark-grad-to: #00000000;