{% set grid_size = theme_var('grid-size') %}

<section class="g-text section modular-text {{ page.header.class}}">
    <section class="container {{ grid_size }}">
           {{ content|raw }}
    </section>
</section>
