<section id="footer" class="section bg-sec f c">
    <section class="container {{ grid_size }}">
        <span>
            <a href="{{ base_url_simple }}/info/contact">Kontakt</a>&nbsp;|&nbsp;
            <a href="{{ base_url_simple }}/info/privacy">Datenschutz</a>
        </span>
        <hr>
        <p>&copy; {{ 'now' | date('Y') }} Chraebsli IT Services </p>
    </section>
</section>
