<section id="header" class="section bg-sec">
	<section class="container">
		<nav class="navbar">
			{% do assets.addJs('theme://js/navigation.js', {group:'bottom'}) %}
			<section class="navbar-section logo">
				{% include 'partials/logo.html.twig' %}
				<div class="web-title">Grav Demo</div>
			</section>
			<div id="desktop-navigation" class="desktop-navigation navbar-section navigation">
				{% include 'partials/navigation.html.twig' %}
			</div>
			<section id="mobile-menu" class="navbar-section mobile-nav" onclick="toggleNavigationMenu()">
				<div class="icon">
					<i></i>
				</div>
			</section>
		</nav>
	</section>
	<div class="mobile-navigation" id="mobile-navigation">
		{% include 'partials/navigation.html.twig' %}
	</div>
</section>
