<section class="navigation navbar section bg-sec" data-layout="desktop">
	{% if (home_url == "/" or home_url == '') %}
		{% set url = '' %}
	{% else %}
		{% set url = home_url %}
	{% endif %}
	<div class="nav-item f c a">
		<a href="{{ url }}/" class="nav-link"><span>Startseite</span></a>
	</div>
	<div class="nav-item f c a">
		<a href="{{ url }}/components" class="nav-link"><span>Komponenten</span></a>
	</div>
	<div class="nav-item f c a">
		<a href="{{ url }}/tutorial" class="nav-link"><span>Tutorial</span></a>
	</div>
	<div class="nav-item f c a">
		<a href="{{ url }}/configuration" class="nav-link"><span>Konfiguration</span></a>
	</div>
</section>
