@use 'sass:selector';
@use 'sass:color';

// acts as a parent selector for the child element
// parent :selector { @include unify-parent('child') } results in parent child:selector
@mixin unify-parent($child) {
	@at-root #{selector.unify(&, $child)} {
		@content;
	}
}

// desktop
form:not(.login-form) {
	$form-padding: .5rem;
	$form-field-height: 2.5rem;

	@mixin layout {
		display: flex;
		flex-wrap: nowrap;
		justify-content: space-between;
	}

	@mixin form-field {
		width: 100%;
	}

	.form-columns {
		@include layout;

		.form-column {
			width: 100%;
		}
	}

	.form-field {
		padding: .5rem;

		.form-data :not(.no-css) {
			@include unify-parent('textarea') {
				width: 100%;
				resize: vertical;
			}

			@include unify-parent('input') {
				&[type='text'],
				&[type='email'],
				&[type='tel'],
				&[type='date'],
				&[type='number'],
				&[type='url'],
				&[type='range'],
				&[type='password'] {
					@include form-field;
				}
			}

			@include unify-parent('select') {
				@include form-field;

				&[multiple] {
					height: auto;
					max-height: 6*$form-field-height;
				}
			}

			//.form-input, .form-select,
			textarea, select, input {
				accent-color: $primary-color; // for checkboxes, radio, range, ...

				html[data-theme=dark] {
					color-scheme: dark;
				}

				&:focus, &:focus-visible {
					border-color: $primary-color;
					outline: $primary-color;
				}
			}

			select option {
				&:hover {
					box-shadow: 0 0 10px 100px $primary-color inset;
				}

				&[selected] {
					background-color: $primary-color;
				}
			}
		}
	}

	.buttons {
		@include layout;

		button {
			@include form-field;

			&.btn-primary {
				color: $light-text-color-inverse;
				background-color: $primary-color;
			}

			&:hover, &:focus, &:focus-visible {
				outline: 2px solid $primary-color-light;
			}
		}
	}

	.switch-toggle input:checked + label {
		background-color: $primary-color;
	}
}


// for buttons outside of forms, e.g. <a> tags with class btn
.btn {
	@mixin button-theme($text-color, $bg-color, $outline-color, $primary-text, $primary-outline) {
		color: $text-color;
		background-color: $bg-color !important;

		&:hover, &:focus, &:focus-visible {
			outline: 2px solid $outline-color;
		}

		&.btn-primary {
			color: $primary-text;
			background-color: $primary-color !important;

			&:hover, &:focus, &:focus-visible {
				outline: 2px solid $primary-outline;
			}
		}
	}

	html[data-theme=light] & {
		@include button-theme(
				$light-text-color,
				$light-background-color-muted,
				$light-text-color,
				$light-text-color-inverse,
				$primary-color-light
		);
	}

	html[data-theme=dark] & {
		@include button-theme(
				$dark-text-color,
				$dark-background-color-muted,
				$dark-text-color,
				$dark-text-color-inverse,
				$primary-color-dark
		);
	}

	&.external-link {
		padding: 0.875rem 1.5rem !important; // from theme.css:1186
	}
}
