@use 'sass:color';

// labels
.label.label-secondary {
	color: var(--q2-accent);
	background-color: color.mix(var(--q2-accent), #FFFFFF, 10%); // TODO: check if still needed
}

// darkmode elements
html[data-theme=dark]{
	//input, textarea, button:not(.btn-primary), .btn:not(button),
	.notices, .card, .tab, .accordion-wrapper label,
	code:not([class*=language-]), pre {
		background-color: var(--q2-bg-muted) !important;

		& code[class*=language-] {
			background-color: transparent !important;
		}
	}

	blockquote {
		border-left-color: var(--q2-bg-muted) !important;
	}
}

.section {
	padding-block: clamp(2rem, 6vw, 4rem);
}
