@use 'sass:color';

// labels
.label.label-secondary {
	color: $primary-color;
	background-color: color.mix($primary-color, #FFFFFF, 10%); // TODO: check if still needed
}

// darkmode elements
html[data-theme=dark]{
	input, textarea, button:not(.btn-primary), .btn:not(button),
	.notices, .card, .tab, .accordion-wrapper label,
	code:not([class*=language-]), pre {
		background-color: $dark-background-color-muted !important;

		& code[class*=language-] {
			background-color: transparent !important;
		}
	}

	blockquote {
		border-left-color: $dark-background-color-muted !important;
	}
}

.section {
	padding-block: clamp(2rem, 6vw, 4rem);
}
