// desktop navigation
body {
	#header {
		margin: 0;
		padding: 2rem;

		.container {
			padding: 0;
			margin: 0 auto;

			.navbar-section.logo {
				margin: 0;
			}
		}

	}

	&.scrolled #header {
		padding: 1rem 2rem 0;
	}
}

// mobile navigation
body {
	.mobile-menu {
		@media ($responsive-breakpoint-tablet) {
			top: 2rem;
			right: 2rem;
			min-height: 64px;
			display: flex;
			align-items: center;
		}
	}

	&.scrolled .mobile-menu {
		top: 1rem;
		right: 2rem;
	}

	.mobile-container {
		#overlay {
			padding: 2rem;
		}
	}
}
