// forms
@import '../variables';

// desktop
form {
	$form-padding: .5rem;
	$form-field-height: 2.5rem;

	.form-columns {
		display: flex;
		flex-wrap: nowrap;
		justify-content: space-between;

		.form-column {
			width: 100%;
		}

	}

	.form-field {
		padding: .5rem;

		.form-data {
			textarea.fancy {
				width: 100%;
				min-height: $form-field-height;
				max-height: 8*$form-field-height;
				padding: $form-padding;
				resize: vertical;
			}

			input.fancy {
				&[type='text'],
				&[type='email'],
				&[type='tel'],
				&[type='date'],
				&[type='number'],
				&[type='url'], {
					width: 100%;
					height: $form-field-height;
					padding: $form-padding;
				}
			}
		}

		.buttons {
			height: $form-field-height;
			padding: $form-padding;
		}

	}
}
