// mobile navigation
@import '../variables';

.mobile-container {
	.mobile-logo {
		.title {
			color: $sec-text-color;
		}
	}

	.overlay-menu {
		a, .toggler {
			padding: 1rem;
			color: $sec-text-color;
		}
		.toggler{
			font-size: 1.5rem;
			padding: 1rem;
		}
	}
}
